<!--  ======= Header Section/Seção do cabeçalho =======  -->
<section id="header">
  <a href="#"><img src="../../assets/logo.png" class="logo" alt=""></a>
  <div class="">
    <ul id="navbar">
      <li><a href="index.html" class="active">Home</a></li>
      <li><a href="shop.html">Shop</a></li>
      <li><a href="blogs.html">Blogs</a></li>
      <li><a href="about.html">Sobre</a></li>
      <li><a href="contact.html">Contato</a></li>
      <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
      <a href="#" id="close"><i class="far fa-times"></i></a>
    </ul>
  </div>
  <div id="mobile">
    <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</section>
