<!-- ======= Footer Section /Seção de Rodapé ======= -->
<footer class="section-p1">
  <div class="col">
    <img class="logo" src="../../assets/logo.png" alt="">
    <h4>Contato</h4>
    <p><strong>Endereço:</strong> Av. Noel Nutels, 222 cj Cidade Nova I, Manaus - Am</p>
    <p><strong>Telefone:</strong> (92)99221-5201 - (92)99221-5202</p>
    <p><strong>Horas:</strong> 10:00 - 18:00, Seg - Sáb</p>
    <div class="follow">
      <h4>Siga-nos</h4>
      <div class="icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <h4>Sobre</h4>
    <a href="about.html">Sobre Nós</a>
    <a href="#">Informação de Entrega</a>
    <a href="#">Política de Privacidade</a>
    <a href="#">Termos e Condições</a>
    <a href="contact.html">Contate-Nos</a>
  </div>
  <div class="col">
    <h4>Minha Conta</h4>
    <a href="#">Entrar</a>
    <a href="#">Ver Carrinho</a>
    <a href="#">Minha Lista de Desejos</a>
    <a href="#">Acompanhar o Meu Pedido</a>
    <a href="#">Ajuda</a>
  </div>
  <div class="col install">
    <h4>Instalar Aplicativo</h4>
    <p>Da App Store ou Google Play</p>
    <div class="row">
      <img src="../../assets/pay/app.jpg" alt="">
      <img src="../../assets/pay/play.jpg" alt="">
    </div>
    <p>Gateways de Pagamento Protegidos</p>
    <img src="../../assets/pay/pay.png" alt="">
  </div>
  <div class="copyright">
    <p>Criado Por <span>Daniel Oliveira</span> | Todos os Direitos Reservados!</p>
  </div>
</footer>


