/* ======= Featured Section/Seção em destaque ======= */
#featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#featured .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow:  20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#featured .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#fatured .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#featured .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#featured .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}

#featured .fe-box:nth-child(3) h6{
  background-color: #d1e8f2;
}

#featured .fe-box:nth-child(4) h6{
  background-color: #cdd4f8;
}

#featured .fe-box:nth-child(5) h6{
  background-color: #f6dbf6;
}

#featured .fe-box:nth-child(6) h6{
  background-color: #fff2e5;
}
